.Heading{
    color: #070624;
    font-size: 52px;
    font-weight: 700;
    max-width: 40rem;
    text-align: center;
    line-height: 60px;
    padding: 64px 0px 73px 0px
}


.benefitGrp h2{
    color: #070624;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    line-height: 55px;
}
.benefitGrp p{
    color: #1D2026;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    max-width: 60rem;
    text-align: center;
    margin-top: 15px;
}

.BenefitCard p{
    text-align: start;
}
.maxheadingWid{
    max-width: 60rem !important;
    padding-bottom: 10px !important;
}
.headingPadding{
    padding-bottom: 10px;
}
.VarComp{
    background-color: #FFFFFF99;
}
.Para{
    color: #1D2026;
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    max-width: 60rem;
    text-align: center;
}

.circle{
    width: 20px;
    height: 20px;
    background-color: #FFD868;
    border-radius: 20px;
    border: 4px solid #BB8B00;
    margin-top: 4px;
}

.divider{
    height: 2px;
    width: 100vw;
    background-color: rgba(242, 242, 242, 0.689);
    margin: 30px 0px;
}
.GradHead{
    color: #070624;
     background: linear-gradient(to right, #FFA80066, #19BB7D66, #0052CC66, #45A4EC66, #B85FFF66),
      linear-gradient(to bottom, #070624 100%, #07062400 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.BenefitIcon{
    width: 82px;
    height: 82px;
    background-color: #8512E0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.VarIcon{
    background-color: white ;
    width: 56px;
    height: 56px;
}
.PracticeIcon{
    background-color: white ;
    width: 50px;
    height: 50px;
}

.FeaturesIcon{
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.BenefitCard{
    display: flex;
    flex-direction: column;
    background-color: #E6FDF180;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;
    padding: 24px;
    gap: 12px;
}
.VarCard{
    background-color: white;
    align-items: flex-start;
    border: 1px solid #EBEFF2;
    border-radius: 12px;
}
.PracticeCard{
    background-color: #FCFBF6;
    border-radius: 12px;
}
.PracticeCard h4 ,.PracticeCard p{
    text-align: center;
}
.BenefitCard h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    /* text-align: center; */
    /* max-width: 18rem; */
}
.BenefitCard ul,.BenefitCard p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #5D6476;
}

.BenefitCard ul li{
    list-style: none;
    display: flex;
    align-items: start;
    gap: 12px;
}
.CardGrp{
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
}
.contactSec{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE0AE;
    padding: 50px 30px 8px;
    gap: 100px;
    border-radius: 14px;
    position: relative;
}

.contactSec .right{
    max-width: 800px;
}

.contactSec .right button{
    max-width: 200px;
    margin-top: 24px;
}

.contactSec .right h3{
    font-size: 27px;
    font-weight: 400;
}

.challangeContainer{
    background-color: #8512E0;
    display: flex;
    gap: 20px;
    padding: 70px 50px 20px 20px;
    border-radius: 14px;
    margin: 50px 0px 30px;
}

.challangeText{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
.challangeRight ul{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.challangeRight ul li{
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.FAQSection{
  margin-bottom: 50px;
}

.bgPosition{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.diffSec{
    align-items: flex-start;
    border-radius: 12px;
}
.diffSec h2{
    font-size: 40px;
}

.diffSec ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.purpleCard{
    background-color: #8512E0;
    color: white;
}

.StandOutImgList{
    display: flex;
    flex-direction: column;
    gap: 12px !important;
}

.listGrpStand{
    display: flex;
    gap: 15px;
    align-items: center;
}

.listGrpStand span{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex: 1;
}
.listGrpStand .BenefitIcon{
    width: 60px !important;
    height: 60px !important;
}
.point{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1D2026;
}


@media (min-width: 600px) and (max-width: 999px) {
    .HeadingComp{
        font-size: 30px;
        line-height: 40px;
        max-width: 100% !important;
    }
    .ParaComp{
        font-size: 18px;
        line-height: 30px;
        max-width: 95% !important;
    }
    .listGrpStand span{
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        flex: 1;
    }
    .contactSec{
        gap: 30px;
    }
    .contactSec img,.challangeContainer img{
        width: 40%;
    }
    .challangeRight ul{
        grid-template-columns: auto;
        gap:30px
    }
    .CardGrp{
        grid-template-columns: auto auto !important;
    }
    .listGrpStand{
        flex-direction: column;
    }
    .standCard{
        grid-template-columns: auto !important;
        justify-items: center !important;
    }
    .StandImage{
        width: 250px;
        height: 150px;
    }
}

@media (min-width: 240px) and (max-width: 599px) {
    .contactSec{
        gap: 30px;
    }
    .contactSec img,.challangeContainer img{
        width: 100%;
        height: 100%;
    }
    .challangeRight ul{
        grid-template-columns: auto;
        gap:30px
    }
    .CardGrp{
        grid-template-columns: auto !important;
    }
    .Heading{
        font-size: 35px;
        line-height: 48px;
        padding: 45px 0px 58px 0px;
    }
    .benefitGrp h2{
        font-size: 35px;
        line-height: 48px;
    }
    .contactSec{
        flex-direction: column !important;
    }
    .contactSec .right{
       display: flex;
       flex-direction: column;
       gap: 15px;
       text-align:center;
       align-items: center;
    }
    .maxheadingWid{
        padding-bottom: 10px;
    }
    .challangeContainer{
        flex-direction: column;
        background-color: #8512E0;
        margin: 31px 0px 30px;
        gap: 30px;
        padding-top: 40px;
    }
    .headingPadding{
        padding-bottom: 10px !important;
    }
    .bgPosition{
        display: none;
    }
    /* .BenefitCard{
        flex-direction: column !important;
    } */
    .listGrpStand{
        flex-direction: column;
    }
    .standCard{
        grid-template-columns: auto !important;
        justify-items: center !important;
    }
    .listGrpStand span{
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        flex: 1;
    }
}